#components-tabs-demo-card-top .code-box-demo {
    background: #ececec;
    overflow: hidden;
    padding: 24px;
}

.sort_card_bar .ant-tabs-bar {
    margin-bottom: 0;
}

.sort_card_bar .ant-tabs-nav-scroll {
    background-color: white;
}

.card-container > .ant-tabs-card > .ant-tabs-content {
    /*height: 120px;*/
    margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 0;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    margin-right: 2%;
    width: 100px;
    text-align: center;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
}

.ant-tabs-nav .ant-tabs-tab {
    width: 120px;
    text-align: center;
    margin-right: 0;
}